.btn {
   padding: 10px;
   border: 0;
   font-size: 1rem;
   line-height: 1.64;
   text-align: center;
   font-weight: 700;
   cursor: pointer;
   &:hover {
    opacity: .75;
   }
}

.bnt__prinary {
  background-color: $btn-primary-bg;
  color: $btn-primary-color;
}

.bnt__prinary {
padding: 10px;
font-family: $font-base;
font-size: 1rem;
line-height: 1.93;
background-color: $font-control-bg;
color: $font-control-color;
text-align: center;
  
   &::placeholder {
        color: $font-control-placeholder;
 }

}