.contact__image1{
    width: 240px;
    height: 500px;
    top: 157px;
    left: 816px;
}

.contact__image1{
    width: 240px;
    height: 500px;
    top: 74px;
    left: 1120px;
}
.contact__image:not(:last-child) {
    margin-right: 140px;
}

.contact__image {
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.contact__image  {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: auto;
    opacity: .1;
}

