@mixin font-face($font-name, $font-path, $weight: 400, $style: normal) {
    @font-face {
        font-family: $font-name;
        src: 
            local($font-name),
            url($font-path + '.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}