$font-base: 'Open Sans';
$font-headline:'Playfair Display';

$body-bg:#242833;
$body-color:#f3eded;

$color-primary:#fdf7f7;

$font-control-bg: #111010;
$font-control-color:#ffffff;
$font-control-placeholder:#a8a0a0;

$btn-primary-bg: $color-primary;
$btn-primary-color:#f3eded;